<div class="home-wrapper">
    <div class="home-peliculas home-selector">
        <span class="home-text" (click)="cargarCatalogoPeliculas()">PELÍCULAS</span>
    </div>
    <div class="home-series home-selector">
        <span class="home-text">SERIES</span>
    </div>
</div>
