:host .home-wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

:host .home-selector {
    flex: 1;
    display: flex;
}

:host .home-peliculas {
    align-items: flex-end;
}
:host .home-peliculas span {
    margin: 0 0 75px 0;
}

:host .home-series {
    align-items: flex-start;
}
:host .home-series span {
    margin: 75px 0 0 0;
}

:host .home-text {
    font-size: 96pt;
    cursor: pointer;

    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}
:host .home-text:hover {
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}
