/* Variables de color */
$color-background: #1b1a1a;
$color-primary: #f8f4f0;
$color-secondary: #7d7d7d;
$color-font-light: #f8f4f0;
$color-font-dark: #171616;

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: $color-background;

    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: $color-font-light;
}
