:host .wrapper-catalogo {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

:host .catalogo-header {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

:host .catalogo-titulo {
    font-size: 42pt;
}

:host .catalogo-peliculas {
    width: 80%;
    margin-bottom: 50px;
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;

    padding: 10px 0;
    overflow-y: auto;
}

:host .catalogo-carta {
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}
:host .catalogo-carta:hover {
    -webkit-transition: all 150ms ease-in;
    -webkit-transform: scale(1.12);
    -moz-transition: all 150ms ease-in;
    -moz-transform: scale(1.12);
    transition: all 150ms ease-in;
    transform: scale(1.12);
}
