<div class="wrapper-catalogo">
    <div class="catalogo-header">
        <span class="catalogo-titulo">CATÁLOGO</span>

        <button class="catalogo-nuevo" mat-fab color="primary" aria-label="Añadir una pelicula nueva" (click)="openDialog()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="catalogo-peliculas">
        <Filmedom-carta-pelicula class="catalogo-carta" *ngFor="let pelicula of peliculas" [pelicula]="pelicula"></Filmedom-carta-pelicula>
    </div>
</div>
