﻿<h1 style="text-align:center">
    Nueva Película
</h1>
<div class="login">
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="nuevo()" style="text-align: center">
        <!--<div>-->
        <mat-form-field style="width: 80%">
            <mat-label>Título de la película</mat-label>
            <input matInput placeholder="Death Note [Netflix]" formControlName="title" required />
            <mat-error *ngIf="formControls.title.invalid">El título es necesario</mat-error>
        </mat-form-field>
        <!--</div>-->
        <br />
        <!--<div>-->
        <mat-form-field style="width: 80%">
            <mat-label>Director de la película</mat-label>
            <input matInput placeholder="Adam Wingard" formControlName="director" required />
            <mat-error *ngIf="formControls.director.invalid">El director es necesario</mat-error>
        </mat-form-field>
        <!--</div>-->
        <br />
        <!--        <div>-->
        <mat-form-field style="width: 80%">
            <mat-label>Año de estreno</mat-label>
            <input matInput placeholder="2017" formControlName="year" required />
            <mat-error *ngIf="formControls.year.invalid">El año es necesario</mat-error>
        </mat-form-field>
        <!--</div>-->
        <br />
        <button mat-raised-button type="submit" color="primary">Añadir</button>
    </form>
</div>