<mat-card class="carta-pelicula">
    <mat-card-header>
        <mat-card-title>{{pelicula.title}}</mat-card-title>
        <mat-card-subtitle>{{pelicula.year}}&ensp;{{pelicula.director}}</mat-card-subtitle>
    </mat-card-header>
</mat-card>
